# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm / IDE settings
.idea/
.vscode/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Environment files
.env
venv/
env/
